
@media (max-width: 424px) {
  .media-workcard {
    height: 320px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .media-workcard {
    height: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .media-workcard {
    height: 520px;
  }
}

@media (min-width: 1024px) {
  .media-workcard {
    height: 600px;
  }

  .media-container-workcard {
    max-width: 1100px;
  }

  .media-content {
    width: 95%;
  }

  .media-issue {
    width: 95%;
  }
}
